body {
  display: flex;
  flex-direction: column;
  color: #FFCC99;
  min-height: 100vh;
  margin: 0;
  background-color: #333333;
}

main,
main label {
  flex-grow: 1;
  color: #FFCC99;
}

body main h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
  color: #ffcc00;
  line-height: 1.2;
}

body main h2 {
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.2);
  margin-bottom: 2rem;
  color: #ffcc00;
  font-weight: bold;
}

body p,
body a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #FFCC99;
}

body a span {
  font-size: 1.4rem;
}

body a:focus {
  outline-offset: 3px;
}

.list-group-item {
  color: #FFCC99;
}

.text-muted {
  color: #ffcc99 !important;
}

h3 {
  font-size: clamp(1rem, 3vw, 2rem);
  line-height: 1.2;
}

.text-primary {
  color: #FFA07A !important;
}

.bg-primary {
  background-color: #FFA07A !important;
}

.coupon-section table th,
.coupon-section table td {
  color: #FFCC99 !important;
}

footer {
  padding: 20px 10px;
  background-color: #FFCC99;
  color: #333333;
  text-align: center;
  margin-top: auto;
  text-decoration: underline !important;
}

button.btn {
  background-color: #FFCC99;
  color: #000;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button.btn:hover {
  background-color: #FFA07A;
  color: #000;
  transform: scale(1.03);
}

button.btn:active {
  background-color: #FFCC99 !important;
  color: #000 !important;
  transform: scale(1.03);
}

.btn-custom {
  background-color: #FFCC99;
  color: #000;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-custom:hover {
  background-color: #FFA07A;
  transform: scale(1.10);
  color: #000;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  color: #FFCC99;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-link em {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-link span {
  font-size: 1.4rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-link:hover {
  color: #ffffff;
  transform: scale(1.05);
}

.nav-link:hover em,
.nav-link:hover span {
  color: #ffffff;
}

.nav-link.active {
  color: #FFA07A;
  font-weight: bold;
  transform: scale(1.1);
}

.nav-link.active em,
.nav-link.active span {
  color: #FFA07A;
}


.dropdown-menu {
  background-color: #333333 !important;
  border: 1px solid #333333
}

.dropdown-item {
  color: #FFFFFF !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #333333 !important;
  color: #FFFFFF !important;
}

.dropdown-item.active {
  background-color: #333333 !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.badge#notification-count {
  font-size: 0.4rem;
  padding: 0.2rem 0.5rem;
  position: relative;
  top: -2px;
}