/* Layout Generale */

body {
  display: flex;
  flex-direction: column;
  color: #FFCC99;
  min-height: 100vh;
  margin: 0;
  background-color: #333333;
}

main,
main label {
  flex-grow: 1;
  color: #FFCC99;
}

body main h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
  color: #ffcc00;
  line-height: 1.2;
}

body main section h2 {
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.2);
  margin-bottom: 2rem;
  color: #ffcc00;
  font-weight: bold;
}

body p, body a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #FFCC99;
}

body a i {
  font-size: 2rem;
  margin-bottom: 0.05rem;
}

body a span {
  font-size: 1.5rem;
}


body a:focus {
  outline-offset: 3px;
}

h3 {
  font-size: clamp(1rem, 3vw, 2rem);
  line-height: 1.2;
}

footer {
  padding: 20px 10px;
  background-color: #FFCC99;
  color: #333333;
  text-align: center;
  margin-top: auto;
}

/* Pulsanti */
button.btn {
  background-color: #FFCC99;
  color: #000;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button.btn:hover {
  background-color: #FFA07A;
  transform: scale(1.01);
}

.btn-custom {
  background-color: #FFCC99;
  color: #000;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-custom:hover {
  background-color: #FFA366;
  transform: scale(1.10);
  border-color: #FFCC99;
  color: #000;
}

/* Contenitore dei pulsanti */
#button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

/* Stile responsive per i pulsanti */
@media (max-width: 768px) {
  #button-container {
    flex-direction: column;
    align-items: center;
  }
  #button-container button,
  #button-container a {
    width: 100%;
    text-align: center;
  }
}

/* NAVBAR */

.nav-link.active {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  flex-direction: column;
}

.nav-link i {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.nav-link span {
  font-size: 1.3rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.badge {
  font-size: 0.8rem;
  padding: 0.25em 0.5em;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #333333 !important;
  color: #f8f9fa;
}

.badge#notification-count {
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
  position: relative;
  top: -2px;
}

