/* PASSWORD STRENGTH METER */

.toggle-password {
    color: #6c757d;
  }

  .toggle-password:hover {
    color: #000;
  }

  #passwordStrength {
    font-weight: bold;
  }

  .strength-very-weak {
    color: #ff0000;
  }

  .strength-weak {
    color: #ffc107;
  }

  .strength-strong {
    color: #8bc34a;
  }

  .strength-very-strong {
    color: #388e3c;
  }